<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons>
      <ion-segment class="ion-justify-content-center">
        <ion-segment-button [checked]="isLiveChecked" value="isLiveChecked">
          <ion-label translate>General.Live</ion-label>
        </ion-segment-button>
        <ion-segment-button [checked]="isHistoryChecked" value="isHistoryChecked">
          <ion-label translate>General.History</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="4" class="ion-no-padding">
        <ion-card button (click)="presentModal()">
          <ion-item lines="full" color="light">
            <ion-icon slot="start" size="large" color="primary" name="medical"></ion-icon>
            <ion-label>Klimaanlage</ion-label>
          </ion-item>
          <ion-card-content>
            <table class="full_width">
              <tr>
                <td style="width: 65%" translate>
                  General.State
                </td>
                <td style="width: 35%" translate class="align_right">
                  General.On
                </td>
              </tr>
              <tr>
                <td style="width: 65%">
                  Temperatur</td>
                <td style="width: 35%" class="align_right">
                  22.5 °C</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4" class="ion-no-padding">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" size="large" color="danger" name="flame"></ion-icon>
            <ion-label>Brandmeldeanlage</ion-label>
          </ion-item>
          <ion-card-content>
            <table class="full_width">
              <tr>
                <td style="width: 65%" translate>
                  General.State
                </td>
                <td style="width: 35%" translate class="align_right">
                  General.On
                </td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4" class="ion-no-padding">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" size="large" name="build"></ion-icon>
            <ion-label translate>Reparatur #1</ion-label>
          </ion-item>
          <ion-card-content>
            <table class="full_width">
              <tr>
                <td style="width: 100%">
                  &nbsp;
                </td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>