<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="4">
      <ion-card>
        <ion-item lines="full" color="light">
          <ion-icon slot="start" size="large" color="primary" name="information-circle-outline"></ion-icon>
          <ion-label class="ion-text-wrap">
            Einheit #3 (fems3)
          </ion-label>
        </ion-item>

        <ion-card-content class="ion-text-wrap">
          <ion-list>
            <ion-list-header>
              <ion-label>
                Aktueller Status
              </ion-label>
            </ion-list-header>
            <ion-item lines="inset">Fehler:<span slot="end">ModbusSlaveCommunicationFailed</span>
            </ion-item>
            <ion-item lines="inset">Warnung:<span slot="end">keine Warnung</span></ion-item>
            <ion-item lines="inset">Info:<span slot="end">keine Info</span></ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>