<!-- <mat-card class="single">
  <mat-card-header>
    <ion-icon mat-card-avatar color="primary" name="chatbubbles"></ion-icon>
    <mat-card-title>FEMS UI</mat-card-title>
    <mat-card-subtitle translate>About.UI</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p translate>About.Developed</p>
    <ul>
      <li>
        <a target="_blank" href="https://fenecon.de" translate>About.Fenecon</a>
      </li>
      <li>
        <a target="_blank" href="https://fenecon.de/page/fems" translate>About.Fems</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/OpenEMS/openems" translate>About.OpenEMS</a>
      </li>
      <!-- <li>
        <a target="_blank" href="https://github.com/OpenEMS/openems/releases/tag/2018.9">
          <span translate>About.Build</span>: 2018.9.0 (2018-07-20)</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/OpenEMS/openems/tree/develop">
          <span translate>About.Build</span>: 2018.10.0-SNAPSHOT</a>
      </li>
    </ul>
    <p>
      <span [innerHTML]="'About.Contact' | translate:{value: 'fems@fenecon.de'}"></span>
    </p>
  </mat-card-content>
</mat-card> -->

<ion-grid>
  <ion-row justify-content-center>
    <ion-col size-xl="10" size-xs="12">
      <ion-card padding>
        <ion-item>
          <ion-avatar>
            <ion-icon slot="start" size="large" color="primary" name="information-circle-outline"></ion-icon>
          </ion-avatar>
          <ion-label text-wrap>
            OpenEMS-UI
            <ion-card-subtitle>Benutzeroberfläche für das Verbundprojekt BloGPV</ion-card-subtitle>
          </ion-label>
        </ion-item>
        <ion-card-content text-wrap>
          <p translate>About.Developed</p>
          <ul>
            <li>
              <a target="_blank" href="https://blogpv.net/">Mehr zu BloGPV</a>
            </li>
            <li>
              <a target="_blank" href="https://fenecon.de" translate>About.Fenecon</a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/OpenEMS/openems" translate>About.OpenEMS</a>
            </li>
            <!-- <li>
              <a target="_blank" href="https://github.com/OpenEMS/openems/releases/tag/2018.9">
              <span translate>About.Build</span>: 2018.9.0 (2018-07-20)</a>
            </li> -->
            <li>
              <a target="_blank" href="https://github.com/OpenEMS/openems/tree/feature/BloGPV">
                <span translate>About.Build</span>: 2018.10.0-SNAPSHOT</a>
            </li>
          </ul>
          <p>
            <span [innerHTML]="'About.Contact' | translate:{value: 'fabian.schwarzbeck@fenecon.de'}"></span>
          </p>
          <br>
          <h1>Projektpartner</h1>
          <br>
          <ion-row>
            <ion-item>
              <ion-img style="width:120px" src="assets/img/dfk.png"></ion-img>
            </ion-item>
            <ion-item>
              <ion-img style="width:120px" src="assets/img/discovergy.png"></ion-img>
            </ion-item>
            <ion-item>
              <ion-img style="width:120px" src="assets/img/enercity.png"></ion-img>
            </ion-item>
            <ion-item>
              <ion-img style="width:120px" src="assets/img/fenecon.png"></ion-img>
            </ion-item>
            <ion-item>
              <ion-img style="width:120px" src="assets/img/tub.png"></ion-img>
            </ion-item>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>