<ion-grid>
  <ion-row justify-content-center>
    <ion-col size-xl="10" size-xs="12">
      <ion-card padding>
        <ion-item>
          <ion-avatar>
            <ion-icon size="large" color="primary" name="information-circle-outline"></ion-icon>
          </ion-avatar>
          <ion-label text-wrap>
            OpenEMS-UI
            <ion-card-subtitle>Benutzeroberfläche für das Verbundprojekt BloGPV</ion-card-subtitle>
          </ion-label>
        </ion-item>
        <ion-card-content text-wrap>
          <p translate>About.Developed</p>
          <ul>
            <li>
              <a target="_blank" href="https://blogpv.net/">Mehr zu BloGPV</a>
            </li>
            <!-- <li>
              <a target="_blank" href="https://github.com/OpenEMS/openems/releases/tag/2018.10">
              <span translate>About.Build</span>: 2018.10.0 (2018-11-27)</a>
            </li> -->
            <li>
              <a target="_blank" href="https://github.com/OpenEMS/openems/tree/develop">
                <span translate>About.Build</span>: 2018.11.0-SNAPSHOT</a>
            </li>
          </ul>
          <p>
            <span [innerHTML]="'About.Contact' | translate:{value: 'fabian.schwarzbeck@fenecon.de'}"></span>
          </p>
          <br>
          <ion-row justify-content-start>
            <ion-item>
              <ion-text color="primary">
                <h2>
                  Projektpartner
                </h2>
              </ion-text>
            </ion-item>
          </ion-row>
          <ion-row justify-content-start>
            <ion-item href="https://www.dfki.de/web">
              <ion-img style="width:140px" src="assets/img/dfk.png" padding-top></ion-img>
            </ion-item>

            <ion-item href="https://www.enercity.de/privatkunden/index.html">
              <ion-img style="width:140px" src="assets/img/enercity.png" padding-top></ion-img>
            </ion-item>
            <ion-item href="https://discovergy.com/">
              <ion-img style="width:220px" src="assets/img/discovergy.png"></ion-img>
            </ion-item>
            <ion-item href="https://fenecon.de/">
              <ion-img style="width:125px" src="assets/img/fenecon.png" padding-top></ion-img>
            </ion-item>
            <ion-item href="https://www.tu-berlin.de/menue/home/">
              <ion-img style=" width:100px" src="assets/img/tub.png" padding-top></ion-img>
            </ion-item>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>