<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="4">
      <ion-card>
        <ion-item lines="full" color="light">
          <ion-icon slot="start" size="large" color="primary" name="information-circle-outline"></ion-icon>
          <ion-label class="ion-text-wrap">
            Status
          </ion-label>
        </ion-item>

        <ion-card-content class="ion-text-wrap">
          <ion-list>
            <ion-item lines="full">
              <ion-label>Container</ion-label>
              <ion-button class="status" color="success">i.O.</ion-button>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Einheit #1</ion-label>
              <ion-button class="status" color="warning">Warnung</ion-button>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Einheit #2</ion-label>
              <ion-button class="status" color="success">i.O.</ion-button>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Einheit #3</ion-label>
              <ion-button class="status" color="danger" routerLink="/femsstatus">Fehler</ion-button>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Einheit #4</ion-label>
              <ion-button class="status" color="tertiary">Info</ion-button>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Einheit #5</ion-label>
              <ion-button class="status" color="success">i.O.</ion-button>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Einheit #6</ion-label>
              <ion-button class="status" color="success">i.O.</ion-button>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Einheit #7</ion-label>
              <ion-button class="status" color="success">i.O.</ion-button>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Einheit #8</ion-label>
              <ion-button class="status" color="success">i.O.</ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>