<ion-grid *ngIf="config">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-content>
          <ion-item lines="inset">
            <ion-input [(ngModel)]="bmsId" placeholder="BMS-ID" type="text"></ion-input>
          </ion-item>
          <ion-item lines="inset">
            <ion-input [(ngModel)]="cuvp" placeholder="Cell Under Voltage Protection" type="number"></ion-input>
          </ion-item>
          <ion-item lines="inset">
            <ion-input [(ngModel)]="cuvpr" placeholder="Cell Under Voltage Protection Recover" type="number">
            </ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button (click)="setBatteryCellUnderVoltageProtection()">feuer frei!</ion-button>
  </ion-row>
</ion-grid>